/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	font-family: "PingFangTC-Semibold", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
*,*:before,*:after{
	box-sizing: border-box;
}
p{
	font-size: 16px;
}

.container{
	margin: 0 auto;
	max-width: 1120px;
	padding-left: 16px;
	padding-right: 16px;
	/* background: #F5F5F5; */
}
.headerbg{
	background: #F7F9FD 0% 0% no-repeat;
	border-radius: 0px 0px 0px 300px;
}
.header{
	background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg");
	background-repeat: no-repeat;
	background-position: right top,-222px 100%;
	position: relative;
}
.nav{
	padding: 24px 0;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbox{
	display: block;
}
.navbarImg{
	display: block;
	max-width: 60.59%;
	height: auto;
}
.btn{
	text-decoration: none;
	color:#fff;
	border-radius: 22px;
	background: #FF5D50;
	padding: 8px 32px;
}
.btn:hover{
	background: #56C4C5;
}
@media(max-width:1280px){
	.header{
		padding: 0 20px;
	}
}
@media(max-width:768px){
	.header{
		background-size:75%;
	}
	.nav{
		padding: 16px 0;
	}
	.navbar li{
		max-width: 50%;
	}
	.navbarImg{
		max-width: 75%;
	}
}

@media(max-width:375px){
	.header{
		background-image:none;
	}
	.navbarImg{
		max-width: 100%;
	}
	.nav{
		margin: 0 -20px;
		border-bottom: 2px solid #FFD153;
	}
	.navbar{
		margin: 0 20px;
	}
}
.banner{
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}
.top{
	position: fixed;
	right: 1px;
	bottom: 100px;
}
.top img{
	display: block;
	max-width: 100%;
	height: auto;
}
h1{
	font-size: 48px;
	font-weight: bold;
}
h2{
	font-size: 32px;
	font-weight: bold;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 18px;
}
@media(max-width:768px){
	h1{
		font-size: 32px;
	}
}
.mb-1{
	margin-bottom: 8px;	
}
.mb-2{
	margin-bottom: 16px;
}
.bannerTitle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 158px 0;
}
@media(max-width:576px){
	.banner{
		flex-wrap: wrap;
	}
}
@media(max-width:375px){
	.bannerbg{
		background: #F7F9FD 0% 0% no-repeat;
		border-radius: 0px 0px 0px 300px;
	}
	.banner{
		display: block;
		max-width: 115%;
		height: auto;
		background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner_sm.svg");
		background-repeat: no-repeat;
		background-position: left top;
		margin: 0 -25px;
	}
	.bannerTitle{
		padding: 48px 0 360px 0;
	}
}
.main{
	margin-bottom: 100px;
}
.options h2{
	text-align: center;
	margin-bottom: 48px;
}
.priceList{
	display: flex;
	justify-content: center;
	margin-bottom: 54px;
}
.priceListBtn a{
	display: block;
	text-decoration: none;
	border: 1px solid #56C4C5;
	color: #56C4C5;
	padding: 12px 32px;
	margin: 0 8px;
	border-radius: 27px;
}

.priceListBtn a:hover{
	background: #56C4C5;
	color: #fff;
}
.btn-bg a{
	display: block;
	text-decoration: none;
	border: 1px solid #56C4C5;
	background: #56C4C5;
	color: #fff;
	padding: 12px 32px;
	margin: 0 8px;
	border-radius: 27px;
}

.optionitems{
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}
.basicCard{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 10px #00000014;
	text-align: center;
	margin: 12px 8px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.basicCardList h3{
	padding: 10px 0 16px 0;
	font-weight: bold;
	border-bottom: 1px solid #DDDDDD;
}
.basicCardList p{
	margin: 32px 0;
}
.text-dline{
	display: inline;
}
.cardItem{
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
	margin-left: 29px;
	margin-right: 23px;	
}
.cardItemNum{
	background:#F5F5F5;
	padding: 24px 32px;
	border-radius: 12px;
	margin-right: 21px;
}
.co-pb{
	color: #56C4C5;
	font-weight: bold;
}
.co-h2{
	font-weight: bold;
}
.cardItemText h2{
	display: inline;
}
.cardItemCost{
	background:#F5F5F5;
	padding: 24px 32px;
	border-radius: 12px;
	margin-left: 17px;
}

.cardText{
	text-align: left;
	margin-left: 29px;
	margin-right: 23px;	
	margin-bottom: 32px;
}
.cardText li{
	margin-bottom: 16px;
}

.StandardCard{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 10px #00000014;
	text-align: center;
	margin: 12px 8px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.alone{
	align-self:center;
}
.StandardCard h3{
	padding: 10px 0 16px 0;
	font-weight: bold;
	border-bottom: 1px solid #DDDDDD;
}
.StandardCard p{
	margin: 32px 0;
}
.cardbtn{
	margin-bottom: 32px;
}
.cardbtn a{
	text-decoration: auto;
	padding: 12px 32px;
	background: #56C4C5;
	color: #fff;
	border-radius: 27px;
}
.cardbtn a:hover{
	background: #FF5D50;
}
@media(max-width:992px){
	.basicCard{
		max-width: 40%;
	}
	.StandardCard{
		max-width: 40%;
	}
	.cardItemNum{
		padding: 24px 16px;
		margin-right: 8px;
	}
	.cardItemCost{
		padding: 24px 16px;
		margin-left: 8px;
	}
	.text-dline{
		font-size: 12px;
	}
	.cardItemText{
		font-size: 12px;
	}
	.cardItemText h2{
		font-size: 28px;
	}
}
@media(max-width:768px){
	.cardItem{
		margin: 0 16px 27px 16px;
	}
	.basicCard{
		max-width: 50%;
	}
	.StandardCard{
		max-width: 50%;
	}
	.cardItemNum{
		margin-right: 6px;
	}
	.cardItemCost{
		margin-left: 6px;
	}
	.priceList{
		flex-wrap: wrap;
	}	
}
@media(max-width:576px){
	.main{
		padding: 0 20px;
	}
	.optionitems{
		flex-wrap: wrap;
	}
	.basicCard{
		max-width: 100%;
	}
	.StandardCard{
		max-width: 100%;
	}
}
.active {
    color: #FF5D50;
}
.active-n{
	display: none;
}
.qa{
	max-width: 100%;
}
.qa h2{
	text-align: center;
	margin-bottom: 48px;
}
.qa-list{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.qa-item{
	width: 85%;
	padding: 16px 32px;
	box-shadow: 0px 2px 10px #00000014;
	margin-bottom: 16px;
}
.qa-title{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.qa-title h4{
	font-weight: bold;
}
.qa-xy{
	display: flex;
	justify-content: end;
	padding: 2px;
}
.x{
	transform: matrix(0, 1, -1, 0, 0, 0);
	background: #56C4C5 0% 0% no-repeat padding-box;
	width: 2px;
	height: 20px;
	display: block;
}
.y{
	background: #56C4C5 0% 0% no-repeat padding-box;
	width: 2px;
	height: 20px;
	display: block;
}
.qa-text{
	padding-top: 24px;
	color: #747474;
	line-height: 2;
}
.footer{
	margin: 0 auto;
	text-align: center;
}

.footer p{
	background:#F5F5F5;
	padding: 16px 0;	
}