$link-color:#ff1511;
$link-color2:rgb(8, 49, 198);
$font-lh:1.5;
$font-m:18px;
$font-l:$font-m*1.2;
$font-xl:$font-m*5;
$font-family-base:"Arial, Helvetica, sans-serif";
$font-family-title:"momospace";
$bg-color:#1d845c;